<html>
<head>
  <title>brew profile</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <body class='profile'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>
  <div class='u-max-full-width container'>
      <div class='brewprofile'>
          <div class='row'>
              <p>{{brewName}}</p>
              <p>Brewer:{{brewer}}</p>
              <p>Brew Style:{{brewStyle}}</p>
              <p>Batch Number:{{batchNumber}}</p>
              <p>Ingredients:{{brewingredients}}</p>
              <p>Process:{{brewingProcess}}</p>
              <p>Brew Date:{{brewDate}}</p>
              <p>Bottling Date:{{bottlingDate}}</p>
              <p>Mash Time:{{mashTime}}</p>
              <p>Boil Time:{{boilTime}}</p>
              <p>Orignal Gravity:{{original}}</p>
              <p>Final Gravity:{{final}}</p>
              <p>Mash Temperature:{{mashTemperature}}</p>
              <p>Ferment Temperature:{{fermentTemperature}}</p>
              <p>Batch Size:{{batchSize}}</p>
              <p>ABV:{{abv}}</p>
              <p>Tasting Notes:{{tastingNotes}}</p>

              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
</div>
  <script src='app.js'></script>
