<html>
<head>
  <title>brew profile</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <body class='profile'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>
  <div class='u-max-full-width container'>
      <div class='brewprofile'>
          <div class='row'>
              <b><p>{{brewName}}</p></b>
              <b><p>Brewer:  {{brewer}}</p></b>
              <b><p>Brew Style:  {{brewStyle}}</p></b>
              <b><p>Batch Number:  {{batchNumber}}</p></b>
              <b><p>Ingredients:  {{brewingredients}}</p></b>
              <b><p>Process:  {{brewingProcess}}</p></b>
              <b><p>Brew Date:  {{brewDate}}</p></b>
              <b><p>Bottling Date:  {{bottlingDate}}</p></b>
              <b><p>Mash Time:  {{mashTime}}</p></b>
              <b><p>Boil Time:  {{boilTime}}</p></b>
              <b><p>Orignal Gravity:  {{original}}</p></b>
              <b><p>Final Gravity:  {{final}}</p></b>
              <b><p>Mash Temperature:  {{mashTemperature}}</p></b>
              <b><p>Ferment Temperature:  {{fermentTemperature}}</p></b>
              <b><p>Batch Size:  {{batchSize}}</p></b>
              <b><p>ABV:  {{abv}}</p></b>
              <b><p>Tasting Notes:  {{tastingNotes}}</p></b>
              <br>
              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
</div>
  <script src='app.js'></script>
