<html>
<head>
  <title>brew profile</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>


  <body class='profile'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>

    <div class='brewprofile'>
  <div class='u-max-full-width container'>
          <div class='row'>
              <b><p>{{brewName}}</p></b>
              <b><p>Brewer:</b> {{brewStyle}}</p>
              <b><p>Brewer:</b> {{brewer}}</p>
              <b><p>Brew Date:</b> {{brewDate}}</p>
              <b><p>Malts: {{malts}}</p></b>
              <b><p>Hops: {{hops}}</p></b>
              <b><p>Yeast: {{yeast}}</p></b>
              <b><p>Strike Volume: {{strikeVolume}}</p></b>
              <b><p>Mash Temperature: {{mashTemperature}}</p></b>
              <b><p>Mash Time: {{mashTime}}</p></b>
              <b><p>Sparge Volume: {{spargeWater}}</p></b>
              <b><p>Sparge Temperature: {{spargeTemperature}}</p></b>
              <b><p>Boil Volume: {{boilVolume}}</p></b>
              <b><p>Boil Time: {{boilTime}}</p></b>
              <b><p>Original Gravity: {{original}}</p></b>
              <b><p>Ferment Temperature: {{fermentTemperature}}</p></b>
              <b><p>Ferment Time: {{fermentTime}}</p></b>
              <b><p>Final Gravity: {{final}}</p></b>
              <b><p>Dextrose Dosage: {{dextroseDosage}}</p></b>
              <b><p>Batch Size: {{batchSize}}</p></b>
              <b><p>ABV: {{abv}}</p></b>
              <br>
              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
</div>
  <script src='app.js'></script>
