<html>
<head>
  <title>brew profile</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>


  <body class='profile'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>

    <div class='brewprofile'>
  <div class='u-max-full-width container'>
          <div class='row'>
              <b><h2>{{brewName}}</h2></b>
              <b><h3>Brewer:</b>{{brewStyle}}</h3>
              <b><h3>Brewer:</b>{{brewer}}</h3>
              <b><h3>Brew Date:</b>{{brewDate}}</h3>
              <b><h3>Malts:</b>{{malts}}</h3>
              <b><h3>Hops:</b>{{hops}}</h3>
              <b><h3>Yeast:</b>{{yeast}}</h3>
              <b><h3>Strike Volume:</b>{{strikeVolume}}</h3>
              <b><h3>Mash Temperature:</b>{{mashTemperature}}</h3>
              <b><h3>Mash Time:</b>{{mashTime}}</h3>
              <b><h3>Sparge Volume:</b>{{spargeWater}}</h3>
              <b><h3>Sparge Temperature:</b>{{spargeTemperature}}</h3>
              <b><h3>Boil Volume:</b>{{boilVolume}}</h3>
              <b><h3>Boil Time:</b>{{boilTime}}</h3>
              <b><h3>Original Gravity:</b>{{original}}</h3>
              <b><h3>Ferment Temperature:</b>{{fermentTemperature}}</h3>
              <b><h3>Ferment Time:</b>{{fermentTime}}</h3>
              <b><h3>Final Gravity:</b>{{final}}</h3>
              <b><h3>Dextrose Dosage:</b>{{dextroseDosage}}</h3>
              <b><h3>Batch Size:</b>{{batchSize}}</h3>
              <b><h3>ABV: </b>{{abv}}</h3>
              <br>
              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
</div>
  <script src='app.js'></script>
