<html>
<head>
  <title>brew profile</title>
  <link rel='stylesheet' href='css/normalize.css'>
  <link rel='stylesheet' href='css/skeleton.css'>
  <link rel='stylesheet' href='css/main.css' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>


  <body class='profile'>
    <div class='section hero'>
      <div class='logo'>
        <div class='row'>
         <p>liquid intelligence</p>
       </div>
     </div>
    </div>

    <div class='brewprofile'>
  <div class='u-max-full-width container'>
          <div class='row'>
              <b><h2>{{brewName}}</h2></b>
              <b><h6>Brewer:</b>{{brewStyle}}<h6>
              <b><h6>Brewer:</b>{{brewer}}</h6>
              <b><h6>Brew Date:</b>{{brewDate}}</h6>
              <b><h6>Malts:</b>{{malts}}</h6>
              <b><h6>Hops:</b>{{hops}}</h6>
              <b><h6>Yeast:</b>{{yeast}}</h6>
              <b><h6>Strike Volume:</b>{{strikeVolume}}</h6>
              <b><h6>Mash Temperature:</b>{{mashTemperature}}</h6>
              <b><h6>Mash Time:</b>{{mashTime}}</h6>
              <b><h6>Sparge Volume:</b>{{spargeWater}}</h6>
              <b><h6>Sparge Temperature:</b>{{spargeTemperature}}</h6>
              <b><h6>Boil Volume:</b>{{boilVolume}}</h6>
              <b><h6>Boil Time:</b>{{boilTime}}</h6>
              <b><h6>Original Gravity:</b>{{original}}</h6>
              <b><h6>Ferment Temperature:</b>{{fermentTemperature}}</h6>
              <b><h6>Ferment Time:</b>{{fermentTime}}</h6>
              <b><h6>Final Gravity:</b>{{final}}</h6>
              <b><h6>Dextrose Dosage:</b>{{dextroseDosage}}</h6>
              <b><h6>Batch Size:</b>{{batchSize}}</h6>
              <b><h6>ABV:</b>{{abv}}</h6>
              <br>
              <a class='button button-primary' href='userHome'>home</a>
    </div>
  </div>
</div>
  <script src='app.js'></script>
